
body {
  font-family: Arial, sans-serif;
  background:  #90ddfc;
  margin: 0;
}

.ticket-menu {
  max-width: 850px;
  margin: 50px auto;
  padding: 20px;
  background: rgb(255, 255, 255);
  border-radius: 12px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.full {
  grid-column: 1 / 3;
}

input,
select,
button {
  padding: 0.6rem;
  font: inherit;
  background-color: #9deaf0;
}

button {
  background: #98ffba;
  transition: background 0.5s ease;
  margin-top: 10px;
}

button:hover {
  background: #59ff99;
}

#fieldContainer[hidden] {
  display: none;
}

#result {
  margin-top: 1rem;
  font-weight: bold;
}
          